[submodule "cubemars_hardware"]
	path = cubemars_hardware
	url = https://github.com/ricard-inho/cubemars_hardware.git
	branch = impedance-host-side
[submodule "leptrino_force_torque"]
	path = leptrino_force_torque
	url = https://github.com/aky-u/leptrino_force_torque.git
	branch = ros2_control
